body {
    background-color: #ecebeb;
}

a {
    display: block;
    background-color: #ecebeb;
    text-decoration: none;
    color: #a3a3a3;
}

a:hover {
    text-decoration: none;
    color: #5c5b5b;
}

nav {
    position: fixed;
    padding-left: 15%;
    padding-top: 20%;
}



.container-fluid {
    width: 100%;
}

.col-4 {
    padding-top: 20px;
}

.architecture-photo, .nature-photo, .pets-photo, .sea-life-photo, .sports-photo, .zoo-life-photo {
    width: 100%;
    padding-bottom: 1.5em;
}

