body#home {
    background-color: black;
}

#home-background {
    width: 60%;
    float: right;
    padding-right: 10%;
}

nav#home-nav {
    background-color: black;
    position: fixed;
    padding-left: 20%;
    padding-top: 15%;
}

a.home-nav {
    display: block;
    text-decoration: none;
    color: #eeeeee;
    font-family: 'Raleway', sans-serif;;
}

a.home-nav:hover {
    color: #a1a1a1;
}

a#name {
    font-size: 36px;
}

a#photo {
    font-size: 28px;
}

.logo {
    line-height: 1.2;
}



body {
    background-color: black;
}

nav#page-nav {
    background-color: black;
    position: fixed;
    padding-left: 10%;
    padding-top: 15%;
    z-index: 3;
}

.container-fluid {
    width: 100%;
}

.col-4 {
    padding-top: 20px;
}

.architecture-photo, .nature-photo, .pets-photo, .sea-life-photo, .sports-photo, .zoo-life-photo {
    width: 100%;
    padding-bottom: 1.5em;
}

.col-4.empty {
    z-index: 0;
}

